@page "/user/details"
@page "/me"
@inherits _UserLayout

<h3>User</h3>
<hr />
<h3>Details</h3>
<br />
@if (user is null)
{
    <Spinner />
}
else
{
    <DisplayDetails Model="user" HrefToEdit="user/edit">
        <tbody>
            @if (isAdmin)
            {
                <tr>
                    <th>
                        <DisplayName For="(() => user!.Id)" />
                    </th>
                    <td>
                        @user!.Id
                    </td>
                </tr>
            }
            <tr>
                <th>
                    <DisplayName For="(() => user!.UserName)" />
                </th>
                <td>
                    @user!.UserName
                </td>
            </tr>
            <tr>
                <th>
                    <DisplayName For="(() => user!.Email)" />
                </th>
                <td>
                    @user!.Email
                </td>
            </tr>
            <tr>
                <th>
                    <DisplayName For="(() => user!.FirstName)" />
                </th>
                <td>
                    @user!.FirstName
                </td>
            </tr>
            <tr>
                <th>
                    <DisplayName For="(() => user!.LastName)" />
                </th>
                <td>
                    @user!.LastName
                </td>
            </tr>
            <tr>
                <th>
                    <DisplayName For="(() => user!.FatherName)" />
                </th>
                <td>
                    @user!.FatherName
                </td>
            </tr>
            <tr>
                <th>
                    <DisplayName For="(() => user!.Birthday)" />
                </th>
                <td>
                    @user!.Birthday
                </td>
            </tr>
            <tr>
                <th>
                    <DisplayName For="(() => user!.Registered)" />
                </th>
                <td>
                    @user!.Registered
                </td>
            </tr>
            <tr>
                <th>
                    <DisplayName For="(() => user!.UserDetails!.IsPublicProfile)" />
                </th>
                <td>
                    @user!.UserDetails?.IsPublicProfile
                </td>
            </tr>
        </tbody>
    </DisplayDetails>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <NavLink href="user/edit" class="btn btn-warning">Edit Profile</NavLink><br /><br />
            <NavLink href="user/edit-password" class="btn btn-warning">Edit Password</NavLink><br /><br />
            @if (isAdmin)
            {
                <NavLink href="@($"users/{user.Id}/edit-roles")" class="btn btn-warning">Edit Roles</NavLink>
            }
            <br />
            <br />
        </div>
        <div class="col-md-4"></div>
    </div>
}
