@page "/achievements"
@inherits _UserLayout

<CascadingValue Value="10" Name="PageSize">
    <ComplexEditUserITResumeDbModels Service="AchievementService" TModel="Achievement" Context="achievement" GetModels="@(us => us.GetCurrentUserAchievementsAsync())">
        <Columns>
            <GridColumn Field=@nameof(Achievement.Name) />
            <GridColumn Field=@nameof(Achievement.Link) />
            <GridColumn Field=@nameof(Achievement.When) />
        </Columns>
        <RowDetails>
            <td colspan="4">@achievement.Description</td>
        </RowDetails>
    </ComplexEditUserITResumeDbModels>
</CascadingValue>


@code {
    [Inject]
    public IAchievementService AchievementService { get; set; } = null!;
}
